/**/
.input-text__deletename{
    position: relative;
    display: inline-block;
    translate: 0px 10px;
}

.input-text__name {
  position: relative;
  display: inline-block;
  translate: 0px 10px;
}

.input-text__menu {
  position: relative;
  display: inline-block;
  translate: 0px 10px;
}

.input-text__createname{
    position: relative;
    display: inline-block;
    translate: 0px 10px;
}

.input-text__whoCreate{
    position: relative;
    display: inline-block;
    translate: 0px 10px;
}

.input-text__whatCreate{
    position: relative;
    display: inline-block;
    translate: 0px 10px;
}

.input-text__dummy {
  display: inline-block;
  overflow: hidden;
  min-width: 1em;
  padding: 3px 5px;
  white-space: nowrap;
  opacity: 0;
}
.input-text__dummy::before {
  content: '';
}
.input-text__dummy:empty::before {
  content: attr(data-placeholder);
}

.input-text {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 4px;
}